body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: sans-serif;
}

button {
    background-color: lightblue;
    padding: 8px 12px;
    margin: 4px;
    font-size: 1em;
    border: 0;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
    color: white;
}

#wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#objective, #file, #retry, #output, #score {
    display: none;
}

#score {
    font-weight: bold;
}

#instructions {
    text-align: center;
}

span {
    font-weight: bold;
    color: red;
}